@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Merienda', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/*Headings and Logo*/
h1, h2 {
    font-family: 'Merienda', cursive;
    font-size: 4rem;
    letter-spacing: 4px;
    color: rgb(184, 211, 10);
}

header {
	color: blue;
}

header > p {
	color: white;
}

header {
    background-color: black;
}

.page-header {
	height: 50vh;
	background: center 75% / cover no-repeat;
}
.text-center {
    text-align: center;
}
.vertical-center {
    position: relative;
    top: 30%;
}

#bgd {
    height: 600px;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/4552127/pexels-photo-4552127.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

#logo {
    float: left;
    font-size: 300%;
}

/*Navigation links*/

#menu {
    font-size: 16px;
    letter-spacing: 4px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu, #logo {
    line-height: 75px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li, a {
    color:darkslategray;
    text-decoration: none;
}

.nav_links li {
    display: inline-block;
}

.nav_links li a:hover {
    border-bottom: 1px solid black;
}

.active {
    color: goldenrod;
}